{% extends 'features/main.html' %}

{% load static %}

{% block content %}

    <!--CSS Styles for Home Page-->
    <link rel="stylesheet" href="{% static '/css/home.css' %}">

    <!--Content-->
    <div class="budget_trivia">
        <a href="{% url 'trivia_rules' %}">
            <div class="trivia">
                TARGET TRIVIA
            </div>
        </a>
        <a href="{% url 'budget' %}">
            <div class="budget">
                TARGET BUDGET
            </div>
        </a>
    </div>

{% endblock %}