{% load static %}

<!DOCTYPE html>

<html>

<head>
	<title>Target Save Application</title>
    <link rel="icon" 
     type="image/png" 
     href="{% static '/images/logo.png' %}">
	<link rel="stylesheet" href="{% static '/css/login.css' %}" />
</head>



<body>
	<div class="loginbox">
	<img src="{% static '/images/head.png' %}" class="avatar" />
		<h1>Login Here</h1>
		<form method="POST" action="">
			{% csrf_token %}
			<p>Username</p>
			<input type="text" name="username" placeholder="Enter Username">
			<p>Password</p>
			<input type="password" name="password" placeholder="Enter Password">
			<input type="submit" name="" value="Login">
		</form>

		{% for message in messages %}
			<p id = "msg">{{message}}</p>
		{% endfor %}
			<a href="{% url 'register' %}">Don't Have An Account? Register</a><br />		
		
	</div>



</body>











</html>